Are there variables that are particularly significant in terms of explaining the answer to your project question?
Are there significant differences between subgroups in your data that may be relevant to your project aim?
Are there strong correlations between pairs of independent variables or between an independent and a dependent variable?
What are the most appropriate tests to use to analyze these relationships?

ex. what's driving prices? statistical questions from the proposal. differences between groups, like december top compared to other months. t-test. distribution of prices - confidence interval of mean/median price bootstrap. correlations with price

In [11]:
import pandas as pd
import numpy as np

In [12]:
seattle = pd.read_csv("/Users/karinahou/Desktop/Data Science Bootcamp/Seattle DF Cleaned.csv")
calendar = pd.read_csv("/Users/karinahou/Desktop/Data Science Bootcamp/Calendar Cleaned.csv")

In [102]:
seattle.head()

,Unnamed: 0,room_id,host_id,room_type,address,reviews,overall_satisfaction,accommodates,bedrooms,price,...,location,name,currency,rate_type,id,neighbourhood_group,neighbourhood,minimum_nights,last_review,availability_365
0,0,2318,2536,Entire home/apt,"Seattle, WA, United States",21,5.0,8,4.0,250,...,0101000020E6100000D449B6BA9C925EC0416326512FCE...,"Casa Madrona - Urban Oasis, 1 block from the P...",USD,nightly,2318,Central Area,Madrona,4,2019-06-18,335
1,1,5682,8993,Entire home/apt,"Seattle, WA, United States",462,5.0,2,0.0,49,...,0101000020E6100000FCC7427408975EC009E1D1C611C3...,"Cozy Studio, min. to downtown -WiFi",USD,nightly,5682,Delridge,South Delridge,3,2018-11-24,0
2,2,6606,14942,Entire home/apt,"Seattle, WA, United States",134,4.5,2,1.0,90,...,0101000020E6100000D47D00529B955EC07782FDD7B9D3...,"Fab, private seattle urban cottage!",USD,nightly,6606,Other neighborhoods,Wallingford,2,2019-06-23,43
3,3,9419,30559,Private room,"Seattle, WA, United States",130,4.5,2,1.0,65,...,0101000020E6100000145D177E70945EC0522B4CDF6BC6...,Glorious sun room w/ memory foambed,USD,nightly,9419,Other neighborhoods,Georgetown,2,2019-06-23,356
4,4,9460,30832,Private room,"Seattle, WA, United States",401,5.0,2,1.0,78,...,0101000020E6100000DD7A4D0F0A955EC00BD28C45D3CD...,Downtown/Convention Ctr B&B - Nice!,USD,nightly,9460,Downtown,First Hill,3,2019-07-07,87

In [105]:
seattle.dtypes

Unnamed: 0                int64
room_id                   int64
host_id                   int64
room_type                object
address                  object
reviews                   int64
overall_satisfaction    float64
accommodates              int64
bedrooms                float64
price                     int64
last_modified            object
latitude                float64
longitude               float64
location                 object
name                     object
currency                 object
rate_type                object
id                        int64
neighbourhood_group      object
neighbourhood            object
minimum_nights            int64
last_review              object
availability_365          int64
dtype: object

In [104]:
calendar.head()

   Unnamed: 0  listing_id        date available  price    month
0           0      241032  2016-01-04         t   85.0  January
1           1      241032  2016-01-05         t   85.0  January
2           2      241032  2016-01-06         f    0.0  January
3           3      241032  2016-01-07         f    0.0  January
4           4      241032  2016-01-08         f    0.0  January

In [40]:
#changing the price column into a float for later calculations
calendar.price = calendar.price.str.replace('$', '').str.replace(',', '')
calendar.price = pd.to_numeric(calendar.price)

what kind of t test to use? t test to compare december and the other months combined? what to compare? like the average prices december v. all? what would that tell you? would you use a t-test? is that the only thing i should do?

would show december is a particular month

distribution of prices - see how represnetative prices are. bootstrap technique and confidence intervals, correlations with other variables?

In [41]:
december = calendar.loc[calendar.month == "December"]
december.head()

     Unnamed: 0  listing_id        date available  price     month
332         332      241032  2016-12-01         t   85.0  December
333         333      241032  2016-12-02         t   85.0  December
334         334      241032  2016-12-03         t   85.0  December
335         335      241032  2016-12-04         t   85.0  December
336         336      241032  2016-12-05         t   85.0  December

In [42]:
#np.mean(december.price) #how to calulate series to float?

In [43]:
december.dtypes

Unnamed: 0      int64
listing_id      int64
date           object
available      object
price         float64
month          object
dtype: object

In [87]:
print("December + booked days mean:", np.mean(december.price)) #the price including the days that they were book == 0
print("December + booked days standard dev.:", np.std(december.price))

print("December - booked days mean:", np.mean(np.nonzero(december.price))) 
print("December - booked days standard dev:", np.std(np.nonzero(december.price)))

print("December pricing median", np.median(december.price))
#the price excluding the days that they were already booked (not including 0 values)

December + booked days mean: 100.95880295375049
December + booked days standard dev.: 108.57907570335787
December - booked days mean: 59098.36784553359
December - booked days standard dev: 34486.678062120416
December pricing median 85.0

In [88]:
#making a def so can print out the same thing for other months
def booked_means_std(month):
    print("Booked days mean:", np.mean(month.price))
    print("Booked days standard dev", np.std(month.price))
    print("Mean of non zeros values only:", np.mean(np.nonzero(month.price)))
    print("Std of non zero values only:", np.std(np.nonzero(month.price)))
    print("Pricing median", np.median(month.price))

booked_means_std(december)

Booked days mean: 100.95880295375049
Booked days standard dev 108.57907570335787
Mean of non zeros values only: 59098.36784553359
Std of non zero values only: 34486.678062120416
Pricing median 85.0

In [89]:
nondec = calendar.loc[calendar.month != "December"]

In [90]:
booked_means_std(nondec)

Booked days mean: 91.72277393876469
Booked days standard dev 107.61659654100761
Mean of non zeros values only: 637978.3750727155
Std of non zero values only: 368411.74102537514
Pricing median 75.0

In [91]:
january = calendar.loc[calendar.month == "January"]

booked_means_std(january)

Booked days mean: 69.6834992142483
Booked days standard dev 90.39025309263543
Mean of non zeros values only: 57568.32961177757
Std of non zero values only: 32944.56357780701
Pricing median 55.0

In [92]:
february = calendar.loc[calendar.month == "February"]

booked_means_std(february)

#february is actually the cheapest month

Booked days mean: 82.30843915391702
Booked days standard dev 94.89955594900215
Mean of non zeros values only: 55352.21249028246
Std of non zero values only: 31668.574837441476
Pricing median 70.0

In [93]:
march = calendar.loc[calendar.month == "March"]

booked_means_std(march)

Booked days mean: 91.2330471957958
Booked days standard dev 98.6361039317581
Mean of non zeros values only: 59145.307095713506
Std of non zero values only: 33834.04982157087
Pricing median 79.0

In [94]:
april = calendar.loc[calendar.month == "April"]

booked_means_std(april)

Booked days mean: 89.68370001746115
Booked days standard dev 102.36487487185917
Mean of non zeros values only: 57119.475334376686
Std of non zero values only: 32807.41015430628
Pricing median 75.0

In [95]:
may = calendar.loc[calendar.month == "May"]

booked_means_std(may)

Booked days mean: 94.2818229439497
Booked days standard dev 106.84536971516003
Mean of non zeros values only: 59166.9857823461
Std of non zero values only: 34055.52981724989
Pricing median 78.0

In [96]:
june = calendar.loc[calendar.month == "June"]

booked_means_std(june)

Booked days mean: 99.45359699668238
Booked days standard dev 115.36040625493342
Mean of non zeros values only: 57279.29603593807
Std of non zero values only: 33056.493666740374
Pricing median 79.0

In [97]:
july = calendar.loc[calendar.month == "July"]

booked_means_std(july)

Booked days mean: 95.37785363051083
Booked days standard dev 120.21363447508725
Mean of non zeros values only: 59467.558028616855
Std of non zero values only: 34351.7755650047
Pricing median 70.0

In [98]:
august = calendar.loc[calendar.month == "August"]
booked_means_std(august)

Booked days mean: 97.18125517497761
Booked days standard dev 119.55566292064267
Mean of non zeros values only: 59196.16313673098
Std of non zero values only: 34400.615144918425
Pricing median 75.0

In [99]:
september = calendar.loc[calendar.month == "September"]
booked_means_std(september)

Booked days mean: 96.61209184564345
Booked days standard dev 111.75902392861921
Mean of non zeros values only: 57259.085052947725
Std of non zero values only: 33357.3897741084
Pricing median 79.0

In [100]:
november = calendar.loc[calendar.month == "November"]
booked_means_std(november)

Booked days mean: 96.87991094814039
Booked days standard dev 107.33839490721033
Mean of non zeros values only: 57216.82920029347
Std of non zero values only: 33417.03313402591
Pricing median 80.0

maybe I should be looking into bedrooms, location, and price?
look through the top booked 10 neighborhoods from the data visualization and see the price averages for each of those neighborhoods. are there any factors that affect the price? what about the ratings of these neighborhoods specifically?

The top neighborhooods were: Broadway, Belltown, First Hill, Wallingford, Minor, Central Business District, Fremont, Stevens, University District, North Beacon Hill

In [141]:
def neighborhood_satisfaction(neighborhood):
    print("Mean of Neighborhood Reviews: ", np.mean(neighborhood.overall_satisfaction))
    print("Median of Neighborhood Reviews: ", np.median(neighborhood.overall_satisfaction) )

In [142]:
broadway = seattle.loc[seattle.neighbourhood == "Broadway"]
booked_means_std(broadway)

neighborhood_satisfaction(broadway)

Booked days mean: 98.33149171270718
Booked days standard dev 72.60002094642402
Mean of non zeros values only: 180.5
Std of non zero values only: 104.5
Pricing median 80.0
Mean of Neighborhood Reviews:  4.236187845303867
Median of Neighborhood Reviews:  5.0

In [143]:
belltown = seattle.loc[seattle.neighbourhood == "Belltown"]
booked_means_std(belltown)

neighborhood_satisfaction(belltown)

Booked days mean: 108.99702380952381
Booked days standard dev 61.111748661575916
Mean of non zeros values only: 167.5
Std of non zero values only: 96.99441564681271
Pricing median 90.0
Mean of Neighborhood Reviews:  3.7901785714285716
Median of Neighborhood Reviews:  4.5

In [144]:
first_hill = seattle.loc[seattle.neighbourhood == "First Hill"]
booked_means_std(first_hill)

neighborhood_satisfaction(first_hill)

Booked days mean: 100.42105263157895
Booked days standard dev 40.28514478216548
Mean of non zeros values only: 113.5
Std of non zero values only: 65.81729762506713
Pricing median 80.5
Mean of Neighborhood Reviews:  3.43859649122807
Median of Neighborhood Reviews:  4.5

In [145]:
wallingford = seattle.loc[seattle.neighbourhood == "Wallingford"]
booked_means_std(wallingford)

neighborhood_satisfaction(wallingford)

Booked days mean: 114.21860465116279
Booked days standard dev 86.98667969617313
Mean of non zeros values only: 107.0
Std of non zero values only: 62.0644825967316
Pricing median 85.0
Mean of Neighborhood Reviews:  4.404651162790698
Median of Neighborhood Reviews:  5.0

In [146]:
minor = seattle.loc[seattle.neighbourhood == "Minor"]
booked_means_std(minor)

neighborhood_satisfaction(minor)

Booked days mean: 99.1356783919598
Booked days standard dev 56.963593093375195
Mean of non zeros values only: 99.0
Std of non zero values only: 57.445626465380286
Pricing median 83.0
Mean of Neighborhood Reviews:  4.600502512562814
Median of Neighborhood Reviews:  5.0

In [147]:
central_bus_dist = seattle.loc[seattle.neighbourhood == "Central Business District"]
booked_means_std(central_bus_dist)

neighborhood_satisfaction(central_bus_dist)

Booked days mean: 132.30102040816325
Booked days standard dev 62.65198824947086
Mean of non zeros values only: 97.5
Std of non zero values only: 56.5795899596312
Pricing median 118.0
Mean of Neighborhood Reviews:  2.4183673469387754
Median of Neighborhood Reviews:  4.0

In [148]:
fremont = seattle.loc[seattle.neighbourhood == "Fremont"]
booked_means_std(fremont)

neighborhood_satisfaction(fremont)

Booked days mean: 120.55555555555556
Booked days standard dev 94.45529349451942
Mean of non zeros values only: 89.5
Std of non zero values only: 51.96072234550504
Pricing median 99.0
Mean of Neighborhood Reviews:  4.530555555555556
Median of Neighborhood Reviews:  5.0

In [149]:
stevens = seattle.loc[seattle.neighbourhood == "Stevens"]
booked_means_std(stevens)

neighborhood_satisfaction(stevens)

Booked days mean: 118.61635220125787
Booked days standard dev 113.30366604349052
Mean of non zeros values only: 79.0
Std of non zero values only: 45.89843860815601
Pricing median 99.0
Mean of Neighborhood Reviews:  4.455974842767295
Median of Neighborhood Reviews:  5.0

In [151]:
uni_district = seattle.loc[seattle.neighbourhood == "University District"]
booked_means_std(uni_district)

neighborhood_satisfaction(uni_district)

Booked days mean: 99.1056338028169
Booked days standard dev 86.86898891932555
Mean of non zeros values only: 70.5
Std of non zero values only: 40.99085263811915
Pricing median 83.5
Mean of Neighborhood Reviews:  3.693661971830986
Median of Neighborhood Reviews:  4.5

In [152]:
n_beacon_hill = seattle.loc[seattle.neighbourhood == "North Beacon Hill"]
booked_means_std(n_beacon_hill)

neighborhood_satisfaction(n_beacon_hill)

Booked days mean: 94.16528925619835
Booked days standard dev 55.85153683709242
Mean of non zeros values only: 60.0
Std of non zero values only: 34.92849839314596
Pricing median 82.0
Mean of Neighborhood Reviews:  4.628099173553719
Median of Neighborhood Reviews:  5.0

Noticing a trend that the more popular neighborhoods have the higher mean of non-zero values. Correlation between neighborhood & price?

the most popular neighborhood doesn't have the highest ratings of satisfaction afterwards

What could I do with that though? Can I predict future prices with this?